body {
	background-color: #ffffff;
	background-image: url("logo.png");
	background-position: right top;
	background-repeat : no-repeat;
	font-family : Arial;
	margin: 0.5cm;
	font-family: Arial;
}

a {
	text-decoration: none;
}
a:hover {
	color: red;
}